<h1>Search AI Tools</h1>

<%= form_with(url: root_path, method: :get) do %>
  <%= label_tag :q, "Search for tools" %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @ai_tools.any? %>
  <% @ai_tools.each do |tool| %>
    <div>
      <h3><%= link_to tool.name, ai_tool_path(tool) %></h3>
      <p><%= truncate(tool.description, length: 100) %>...</p>
    </div>
  <% end %>
<% else %>
  <p>No tools found.</p>
<% end %>
